.bubbleBoxMobile
{
    position: relative;
    z-index: 3;

    width: 85vw;
    height: auto;

    padding: 2vw 4vw 2vw 20vw;

    border-radius: 12px;

    background-color: var(--light-accent);

    color: var(--dark-text);

    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 18% 100%, 10% 6%, 0 6%, 0 0);
}

.bubbleBoxHeaderContainerMobile
{
    position: relative;
    top: -8.2vw;
    left: 5.5vw;
}

.bubbleBoxHeaderContainerMobileFirst
{
    position: relative;
    top: -7.75vw;
    left: 5.5vw;
}

.bubbleBoxHeaderMobile
{
    position: relative;
    z-index: 1;

    width: 80vw;
    height: auto;

    padding: 2vw 4vw 2vw 0vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 0px 12px 0px 0px;

    background-color: var(--light-accent-alt);

    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}

.bubbleBoxHeaderMobile h1
{
    margin: 0;

    font-size: 6vw;
    color: var(--dark-text);
}