.bubbleContentContainerMobile
{
    position: absolute;
    top: 0;
    left: 0;

    width: auto;
    height: auto;
}

.bubbleBoxMobile
{
    position: absolute;
    top: 1.10vw;
    left: -5vw;

    width: 85vw;
    height: 50vw;

    border-radius: 12px;

    background-color: var(--light-accent);

    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 25% 100%, 10% 12.5%, 0 12.5%, 0 0);
}

.bubbleBoxHeaderContainerMobile
{
    position: absolute;
    top: 2vw;
    left: 10.75vw;

    width: 65vw;
    height: 5vw;

    background-color: var(--light-accent-alt);
}

.bubbleBoxHeaderMobile
{
    position: absolute;
    top: -10vw;
    right: -10vw;

    width: 80vw;
    height: 15vw;

    border-radius: 0px 12px 0px 0px;

    background-color: var(--light-accent-alt);

    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}

.bubbleBoxHeaderMobile h1
{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    right: 5vw;

    margin: 0;

    font-size: 6vw;
    color: var(--dark-text);
}