.welcomeBoxSmMobile
{
    width: 100%;
    height: 100%;

    padding: 0px;

    display: flex;
    flex-direction: column;

    border-radius: 12px 0px 0px 0px;

    background-color: var(--dark-accent);

    clip-path: polygon(60vw 7vw, 100vw 32vw, 100vw 100%, 7vw 100%, 7vw 7vw);
}

.welcomeBoxMdMobile
{
    width: 100%;
    height: 100%;

    padding: 0px !important;

    border-radius: 12px 0px 0px 0px;

    background-color: var(--light-accent-alt);

    clip-path: polygon(60vw 3.5vw, 100vw 28.5vw, 100vw 100%, 3.5vw 100%, 3.5vw 3.5vw);
}

.welcomeBoxLgMobile
{
    width: 100%;
    height: 100%;

    padding: 0px !important;
    margin: 0px 0px 0px 0px !important;
 
    border-radius: 12px 0px 0px 0px;

    background-color: var(--light-accent);

    clip-path: polygon(60vw 0vw, 100vw 25vw, 100vw 100%, 0vw 100%, 0vw 0vw);
}