.welcomeBoxSm
{
    width: 100%;
    height: 100%;

    padding: 2vw 2vw 2vw 2vw;

    border-radius: 12px;

    background-color: var(--dark-accent);
}

.welcomeBoxSm.main
{
    clip-path: polygon(25% 10%, 97% 10%, 97% 100%, 75% 100%, 0 100%, 0 25%);
}

.welcomeBoxSm.sub
{
    display: flex;
    justify-content: space-around;

    clip-path: polygon(25% 0, 100% 0, 100% 70%, 75% 85%, 6.2% 85%, 6.2% 0);
}

.welcomeBoxMd
{
    width: 100%;
    height: 100%;

    padding: 0px !important;

    border-radius: 12px;

    background-color: var(--light-accent-alt);
}

.welcomeBoxMd.main
{
    clip-path: polygon(25% 5%, 98.5% 5%, 98.5% 100%, 75% 100%, 0 100%, 0 20%);
}

.welcomeBoxMd.sub
{
    clip-path: polygon(25% 0, 100% 0, 100% 77.5%, 75% 92.5%, 3% 92.5%, 3% 0);
}

.welcomeBoxLg
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0px !important;

    border-radius: 12px;

    background-color: var(--light-accent);
}

.welcomeBoxLg.main
{
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%, 0 100%, 0 15%);
}

.welcomeBoxLg.sub
{
    clip-path: polygon(25% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 0);
}


/*Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px)
{
    .welcomeBoxSm
    {
        padding: 2vw 0vw 4vw 2vw;
    }

    .welcomeBoxSm.sub
    {
        clip-path: polygon(25% 0, 100% 0, 100% 75%, 77.5% 92.5%, 10% 92.5%, 10% 0);
    }

    .welcomeBoxMd.sub
    {
        clip-path: polygon(25% 0, 100% 0, 100% 81%, 80% 96%, 5% 96%, 5% 0);
    }

    .welcomeBoxLg.sub
    {
        clip-path: polygon(25% 0, 100% 0, 100% 87.5%, 82.5% 100%, 0 100%, 0 0);
    }
}