.welcomeContainer
{
    position: relative;
    top: 0;

    height: 100vh;

    margin: 0;

    background-color: var(--dark-background);
}

.welcomeRow
{
    position: absolute;
    top: 3vw;

    width: 100%;

    padding: 5vw;
}

.welcomeHeading
{
    margin-left: 2vw;
    margin-top: 1vw;

    font-size: 6vw;   

    color: var(--dark-text);
}

.welcomeSubHeading
{
    margin-left: 3vw;

    font-size: 2vw;

    color: var(--dark-text);
}

.linkBox
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.introRow
{
    position: absolute;
    bottom: 3vw;

    width: 100%;

    padding: 1vw 5vw 5vw 5vw; 

    color: var(--light-text);
}

.skills
{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.skillLabel
{
    font-size: 1.8vw;
}

.skillDivider
{
    width: 2px;
    height: 2vw;

    background-color: var(--light-background);
}

.skillUnderline
{
    width: 100%;
    height: 2px;

    margin-top: 1.8vw;
}

.skillUnderline.one{background-color: var(--dark-accent);}
.skillUnderline.two{background-color: var(--light-accent-alt);}
.skillUnderline.three{background-color: var(--light-accent);}

.icon
{
    width: 6vw;
    height: 6vw;

    margin-bottom: 1vw;

    color: var(--dark-text);
}

.icon:hover
{
    cursor: pointer;
    color: var(--dark-text-hover);
}

.linkRow
{
    position: absolute;
    top: 32vw;

    padding: 1vw 5vw 5vw 5vw;

    width: 100%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px)
{

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px)
{
    .welcomeRow
    {
        top: 2vw;
    }

    .introRow
    {
        bottom: 2vw;
    }

    .welcomeHeading
    {
        margin: 2vw 0vw 0vw 2vw;
    }

    .welcomeSubHeading
    {
        margin: 0vw 0vw 0vw 3vw;
    }

    .iconContainer
    {
        display: flex;
        flex-direction: column;
    }

    .icon
    {
        margin: 0vw 0vw 1vw 0vw;
    }

    .skills
    {
        flex-direction: column;
    }

    .skillDivider
    {
        width: 10%;
        height: 2px;

        margin: 1vw 0vw 1vw 0vw;
    }

    .skillLabel
    {
        font-size: 2.3vw;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px)
{
    .welcomeRow
    {
        top: 2vw;
    }

    .introRow
    {
        bottom: 2vw;
    }

    .welcomeHeading
    {
        margin: 2vw 0vw 0vw 2vw;
    }

    .welcomeSubHeading
    {
        margin: 0vw 0vw 0vw 3vw;
    }

    .iconContainer
    {
        display: flex;
        flex-direction: column;
    }

    .icon
    {
        margin: 0vw 0vw 1vw 0vw;
    }

    .skills
    {
        flex-direction: column;
    }

    .skillDivider
    {
        width: 10%;
        height: 2px;

        margin: 1vw 0vw 1vw 0vw;
    }

    .skillLabel
    {
        font-size: 2.3vw;
    }
}